<% if flash[:notice] %>
    <div class="alert alert-success fade in">
      <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-error fade in">
      <%= flash[:alert] %>
    </div>
<% end %>